*{
	box-sizing:border-box;
}

.container{
	border: 4px solid black;
	margin: 0 auto;
	width:100%;
	padding: 20px;
	max-width: 1200px;
}
.container:after{
	display: block;
	content:"";
	clear:both;
}

.column{
	border:2px solid blue;
	font-family: Arial;
	float:left;
	padding: 10px;


}
.Row{
	border: 2px solid red;
	float: left;
	padding: 10px;
	width:100%;
	margin-bottom: 5px;
}
.Row:after{
	display: block;
	content:"";
	clear:both;
}
.column.full{
	width:100%;
	float: left;
	
}
.column.two-thirds{
	width:66%;
	float: left;
	
}
.column.third{
	width:33%;
	

}
.column.half{
	width:50%;
	
}
.column.fourth{
	width: 25%;
}