/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */

.header {
	width: 100%;

}
.container {
	border: 2px solid black;
	display: block
	width:40%;
	padding: 40px;

}
.container:after{
	content: "";
	display: block;
	clear: both;
}

.sidebar {
	width:33.3%;
	float: left;
}

.main-content {
	width:33.3%;
	float:left;
}

.sub-content {
	width: 33.3%;
	float:left;
}

.footer {
	clear: left;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */