/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}


.sidebar {
	width:33.3%;
	float: left;
	margin:0 auto;
	height:200px;
}

.main-content {
	width: 33.3%;
	float:left;
	margin:0 auto;
	height:200px;
}

.sub-content {
	width:33.3%;
	float:left;
	margin: 0 auto;
	height:200px;
}


.footer {
	clear: left;
}
