/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 90%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header:after {
	content:"";
	display: block;
	clear:both;
}

.logo {
	float:left;
	width:25%;
}

.navigation {
	float:right;
	width:75%;
}

.sidebar {
	float:left;
	width:25%;
	height:300px;

}

.main-content:after {
	content: "";
	display: block;
	clear: both;
}

.sub-content {
	float:right;
	width:75%;
	height: 150px;
}

.sub-content-2 {
	float:right;
	width: 75%;
	height: 150px;
}

.footer {
	clear:both;
}
